<div class="home-container">
    <app-card gameCover="assets/bt-4.jpg" gameLabel="EXCLUSIVE" gameType="DIGITAL | PS-4" gamePrice="U$ 129.99"></app-card>
    <app-card gameCover="assets/ac-cover.jpg" gameLabel="EXCLUSIVE" gameType="DIGITAL | PS-5" gamePrice="U$ 169.99"></app-card>
    <app-card gameCover="assets/bt-1.jpg" gameLabel="DIGITAL" gameType="DISC | PS-5" gamePrice="U$ 169.99"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="NEW" gameType="DISC | PS-4" gamePrice="U$ 109.99"></app-card>
    <app-card gameCover="assets/bt-hardline.jpg" gameLabel="NEXT YEAR" gameType="DISC | PS-5" gamePrice="U$ 169.99"></app-card>
    <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="NEXT YEAR" gameType="DISC | PS-5" gamePrice="U$ 149.99"></app-card>
</div>

